*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(230, 230, 230);
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}

/* Rating Css */

input[type="radio"]{
    display:none
}
.star{
    cursor:pointer;
}